DISCORD_BOT_TOKEN=tu_token_aqui
DISCORD_GUILD_ID=1495169704929525881
DISCORD_LOBBY_CHANNEL_ID=1495181411492167720
DISCORD_ANUNCIOS_CHANNEL_ID=1495181455201009684
DISCORD_LOGS_CHANNEL_ID=1495182252219306205
DISCORD_PRESUPUESTO_CHANNEL_ID=1495182286759530619
DISCORD_MY_USER_ID=1495166661076975699

DISCORD_WEBHOOK_JEFE=https://discordapp.com/api/webhooks/.../...
DISCORD_WEBHOOK_PO=https://discordapp.com/api/webhooks/.../...
DISCORD_WEBHOOK_TL=https://discordapp.com/api/webhooks/.../...
DISCORD_WEBHOOK_A1=https://discordapp.com/api/webhooks/.../...
DISCORD_WEBHOOK_A2=https://discordapp.com/api/webhooks/.../...

TRADING_REPO_PATH=/home/fran/development/fp-trading-system
